.newslatter{
	background-image:url('https://i.imgur.com/Eg7Q4wD.png');
	background-size:contain contain;
	background-attachment:fixed;
	padding:50px 15px;
	position:relative;
}

.newslatter-area{
	width:100%;
	color:white;
}

.newslatter-area h1{
	font-family:TTHoves-Bold;
	font-size:calc(-7px + 14.16vw);
	line-height:calc(-7px + 14.16vw);
	text-transform:uppercase;
	letter-spacing:1.9px;
	text-shadow:2px 1px 4px rgba(191,191,191,0.3);
}

form{
	width:100%;
}

#email{
	width:100%;
}

@media(min-width:402px){
	.newslatter-area h1{
		font-size:50px;
		line-height:50px;
	}
}

@media(min-width:633px){
	.newslatter{
		display:flex;
		justify-content:center;
		padding:50px 0px;
	}

	.newslatter-area{
		width:600px;
	}

	.newslatter-area h1{}
}

@media(min-width:769px){
	.newslatter-area{
		width:797px;
		padding:0px 15px;
	}	

	.newslatter-area h1{}
}

@media(min-width:1025px){
	.newslatter-area{
		width:979px;
	}

	.newslatter-area h1{}
}

@media(min-width:1201px){
	.newslatter-area{
		width:1130px;
	}

	.newslatter-area h1{}
}
