.social{
	display:flex;
	justify-content:center;
	padding-top:50px;
	padding-bottom:50px;
}

.social-area{
	width:633px;
}

.social-area h1{
	max-width:600px;
	font-family:'Barlow Condensed';
	font-size:40px;
	line-height:42px;
	padding-left: 15px;
	padding-right: 15px;
	text-transform:uppercase;
}

.social-area h1::after{
	content:'';
	display:flex;
	width:66px;
	height:4px;
	background:black;
	margin-top:23px;
	margin-bottom:62px;
}

.s-facebook{
	margin-bottom:62px;
}

.s-instagram{
	margin-bottom:62px;
}

.s-facebook,
.s-instagram,
.s-reddit{
	display:flex;
	padding-left: 15px;
	padding-right: 15px;
}

.s-facebook i,
.s-instagram i,
.s-reddit i{
	font-size:39px;
	line-height:39px;
	transition:0.4s;
}

.s-facebook i:hover{
	color:#395694;
}

.s-instagram i:hover{
	background: #5056C5;
	background: -webkit-linear-gradient(to right, #5056C5 0%, #E432AD 50%, #f7a347 100%);
	background: -moz-linear-gradient(to right, #5056C5 0%, #E432AD 50%, #f7a347 100%);
	background: linear-gradient(to right, #5056C5 0%, #E432AD 50%, #f7a347 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.s-reddit i:hover{
	color:#f74300;
}

.s-facebook p,
.s-instagram p,
.s-reddit p{
	padding-left:20px;
	font-family:TTHoves-Regular;
}

@media(min-width:769px){
	.social-area{
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		width:798px;
		display:flex;
	}

	.social-area h1{
		width:100%;
		font-size:32px;
		line-height:34px;
	}

	.social-area h1::after{
		margin-bottom:56px;
	}

	.s-facebook,
	.s-instagram,
	.s-reddit{
		width:369px;
	}
}

@media(min-width:992px){
	.s-facebook,
	.s-instagram,
	.s-reddit{
		width:33.333%;
	}
}

@media(min-width:1025px){
	.social-area{
		flex-direction:row;
		flex-wrap:wrap;
		min-width:980px;
	}

	.social-area h1{
		max-width:100%;
		font-size:50px;
		line-height:53px;
	}

	.s-facebook,
	.s-instagram,
	.s-reddit{
		max-width:296px;
	}
}

@media(min-width:1201px){
	.social-area{
		min-width:1130px;
	}
}