.landing-page{
	display:flex;
	justify-content:center;
	min-width:100%;
	max-width:100%;
	min-height:99.9vw;
	max-height:100%;
	background-image:url('https://video-images.vice.com/topics/57a205178cb727dec7956d45/lede/1527110421056-HEADER_VICE_lgbtq.png');
	background-size:cover;
	background-position:center;
	box-sizing:border-box;
}

@media(min-width:640px){
	.landing-page{
		min-height:640px;
		max-height:100%;
	}
}

/* Title */
.title{
	width:calc(0.2px + 89.9vw);
	margin:0 auto;
	padding-top:40px;
}

.title hr{
	border:2px solid black;
}

.title article h1{
	font-family:TTHoves-Bold;
	font-size:32px;
	line-height:42px;
	margin-bottom:35px;
	padding-right:0.3em;
	padding-top:47px;
}

.title article h1::after{
	content:'';
	display:flex;
	width:66px;
	height:4px;
	background:black;
	margin-top:23px;
}

.title article p:nth-child(2){
	font-family:TTHoves-Medium;
	font-size:16px;
	line-height:27px;
}

.title-autor{
	display:flex;
	margin-top:21px;
}

.title-autor img{
	width:40px;
	height:40px;
	border-radius:1000px;
}

.title-autor a{
	font-family:TTHoves-Regular;
	font-size:13px;
	line-height:15px;
	display:flex;
	flex-direction:row-reverse;
	align-items:center;
	margin-left:10px;
	word-wrap:break-word;
}

.title-autor a::after{
	content:'Por';
	margin-right:3px;
}

.title-autor i{
	font-size:13px;
	line-height:15px;
	display:flex;
	align-items:center;
	margin-left:20px;
	word-wrap:break-word;
}

.title-autor i p{
	font-family:TTHoves-Regular;
	margin-left:0.3em;
	word-wrap:break-word;
}

/* 321 */
@media(min-width:321px){
	.title{
		width:300px;
	}
}
		
/* 481 */
@media(min-width:481px){
	.title{
		width:420px;
	}
}
		
/* 681 */
@media(min-width:681px){
	.title{
		width:600px;
	}
}

/* 700 */
@media(min-width:700px){
	.title article h1{
		font-size:50px;
		line-height:65px;
	}

	.title article p:nth-child(2){
		font-size:20px;
		line-height:34px;	
	}
}
		
/* 769 */
@media(min-width:769px){
	.title{
		width:768px;
	}
}

/* 999 */
@media(min-width:999px){
	.title article p:nth-child(2){
		width:100%;
	}
}

/* 1000 */
@media(min-width:1000px){
	.title article p:nth-child(2){
		width:55.8vw;
	}
}
		
/* 1025 */
@media(min-width:1025px){
	.title{
		width:950px;
	}
}

/*1147*/
@media(min-width:1201px){
	.title article p:nth-child(2){
		width:640px;
	}	
}

/* 1201 */
@media(min-width:1201px){
	.title{
		width:1100px;
	}
}

/* Post e Lateral */
.post{
	padding-bottom:50px;
}

.artigo{
	width:calc(0.2px + 89.9vw);
	margin:0 auto;
}

.artigo img{
	width:100%;
	margin-top:1em;
	margin-bottom:50px;
}

.artigo p{
	font-family:Lora-Regular;
	font-size:18px;
	line-height:31px;
}
		
.lateral{
	margin-top:40px;
}

.lateral-area{
	width:calc(0.2px + 89.9vw);
	height:100vh;
	background-color:black;
	margin:0 auto;
}
		
/* 321 */
@media(min-width:321px){
	.artigo{
		width:300px;
	}
			
	.lateral-area{
		width:300px;
	}
}
		
/* 481 */
@media(min-width:481px){
	.artigo{
		width:420px;
	}
			
	.lateral-area{
		width:420px;
	}
}
		
/* 681 */
@media(min-width:681px){
	.artigo{
		width:600px;
	}

	.lateral{
		width:600px;
		margin:0 auto;
		margin-top:40px;
	}

	.lateral-area{
		width:280px;
		margin:0;
	}
}
		
/* 769 */
@media(min-width:769px){
	.post{
		width:768px;
		display:flex;
		justify-content:space-between;
		margin:0 auto;
	}

	.artigo{
		width:498px;
		margin:0;
	}

	.lateral{
		width:229px;
		margin:0;
		margin-top:0;
	}

	.lateral-area{
		width:100%;
		margin:0;
	}
}
		
/* 1025 */
@media(min-width:1025px){
	.post{
		width:950px;
	}

	.artigo{
		width:620px;
	}

	.lateral{
		width:290px;
	}
}
		
/* 1201 */
@media(min-width:1201px){
	.post{
		width:1100px;
	}

	.artigo{
		width:718px;
	}

	.lateral{
		width:339px;
	}
}